@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url("_reset.css");
@import url("_colors.css");
@import url("_typography.css");
@import url("_buttons.css");

@import url("header.css");
@import url("footer.css");

body > main {
  background-color: var(--blue-lighter);
}

.main-section {
  flex: 1;
}

.columns {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.columns > * {
  flex: 1;
}

.brownish {
  background-color: var(--brown-dark);
  color: var(--white);
}

.brownish p {
  font-weight: 300;
}

.blueish {
  background-color: var(--blue-lighter);
}

.blueish p {
  font-weight: 400;
}

.greenish {
  background-color: var(--green-dark);
  color: var(--white);
}

.greenish p {
  font-weight: 300;
}

.carousel__container {
  width: 100%;
  aspect-ratio: 1/1;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .carousel__container {
    max-width: 768px;
    aspect-ratio: 4/3;
  }
}

@media screen and (min-width: 1024px) {
  .carousel__container {
    max-width: 1024px;
    aspect-ratio: 16/9;
  }
}
