* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body > main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

body > main > section {
  padding: 0.75rem;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

ul {
  padding-left: 1rem;
  list-style-type: disc;
}

li > ul {
  padding-left: 1rem;
  list-style-type: circle;
}

ol {
  padding-left: 1rem;
  list-style-type: decimal;
}

li > ol {
  padding-left: 1rem;
  list-style-type: lower-latin;
}
