body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 0.875rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  padding-bottom: 0.5rem;
}
  
h1 {
  font-size: 1.8rem;
  line-height: 1.2;
}

h2 {
  font-size: 1.6rem;
  line-height: 1.2;
}

h3 {
  font-size: 1.4rem;
  line-height: 1.2;
}

h4 {
  font-size: 1.2rem;
  line-height: 1.2;
}

h5 {
  font-size: 1rem;
  line-height: 1.2;
}

h6 {
  font-size: 0.8rem;
  line-height: 1.2;
}

p {
  font-size: 0.875rem;
  line-height: 1.4;
  padding-bottom: 0.5rem;
  font-weight: 400;
}


strong, b {
  font-weight: 500;
}

a {
  font-weight: 500;
}

select {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 0.75rem;
}

table {
  font-size: 0.75rem;
}

td {
  padding: 0.25rem;
}
