---

---

<html lang="fr">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="styles/__main__.css">
		<meta name="generator" content={Astro.generator} />
		<title>Villa Libeccio</title>
	</head>
	<body>
    <header>
      <img id="site-logo" src="/images/logo-clocher-lumio.webp" alt="Villa Libeccio logo" />
      <h1 id="site-title">Villa Libeccio</h1>
      <nav id="site-menu">
        <ul>
          <li><a href="#">Accueil</a></li>
          <li><a href="#">Photos</a></li>
          <li><a href="#">Prestations</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section>
        <p>This is a section</p>
      </section>
    </main>
    <footer>
      <p>&copy; 2024 Laurence Souron & Corinne Simonot</p>
    </footer>
	</body>
</html>
