---
const { title, menu } = Astro.props;
---

<header>
  <img id="site-logo" src="/images/logo-clocher-lumio.webp" alt="Villa Libeccio logo" width="40" height="40" />
  <h1 id="site-title">{ title }</h1>
  <nav id="site-menu">
    <ul>
      {menu.map((item: { url: string, label: string }) => (
        <li><a href={item.url}>{item.label}</a></li>
      ))}
    </ul>
  </nav>
</header>
